@media screen and (max-width: 992px) {

    .container-content {
        width: 372px;
        padding: 0 0 0 0;
    }

    .photo-group {
        width: 372px;
        height: 724px;
        padding-top: 17px;
    }

    .photo-group__photo--992 {
        display: block;
    }

    .photo-group__photo--540 {
        display: none;
    }

    .photo-group__photo {
        display: none;
        height: 100%;
        width: 372px;
    }

    .photo-group::before {
        font-weight: 400;
        font-size: 36px;
        line-height: 35px;
        padding: 12px;
        bottom: -3px;
    }
   
    .content {
        padding: 20px 48px 10px 45px;
    }

    .content__title{
        font-weight: 500;
        font-size: 32px;
        line-height: 38px;
    }

    .content__city {
        font-weight: 500;
        font-size: 20px;
        line-height: 23px;
        padding-bottom: 30px;
    }

    .content__social {
        padding-bottom: 30px;
    }

    .social__item {
        width: 40px;
        height: 40px;
    }

    .tech__item {
        padding: 10px 45px;
        height: 48px; 
        background: #414141;
        border-radius: 45px;
        width: auto; 
    }

    .item__text {
        font-weight: 500;
        font-size: 24px;
        line-height: 28px;
    }

    .tech__item--BEM {
        order: 5;
    }

    .tech__item--Flexbox {
        order: 4;
    }

    h2{
        font-weight: 500;
        font-size: 24px;
        line-height: 28px;
        padding-bottom: 20px;
    }

    .content__about {
        font-weight: 500;
        font-size: 20px;
        line-height: 23px;
        text-indent: 30px;
        width: 530px;
        padding-bottom: 20px;
    }

    .content__inputs{
        padding-top: 0;
        padding-bottom: 20px;
    }

    .input__item {
        width: 232px;
        height: 48px;
    }

    .input__item::placeholder {
        font-weight: 500;
        font-size: 24px;
        line-height: 28px;
        padding-left: 20px;
        padding-top: 20px;
    }

    .content__button {
        width: 484px;
        height: 48px;
        font-weight: 500;
        font-size: 24px;
        line-height: 28px;
    }

    .content__tech {
        padding-bottom: 64px;
        width: 603px;
        padding-bottom: 30px;
    }
   
}