@font-face {
	font-family: 'Roboto';
	src: url('../fonts/Roboto-Regular.eot');
	src: local('☺'), url('../fonts/Roboto-Regular.woff') format('woff'), 
    url('../fonts/Roboto-Regular.ttf') format('truetype'), 
    url('../fonts/Roboto-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

*{
    box-sizing: border-box;
}

body {
    background: url(../image/background.svg) no-repeat;
    background-size: auto 100%; 
    font-family: 'Roboto';
}

.container {
    width: 100%;
    min-height: 100%;
    height: 100%;
    margin: 0 auto;
    position: relative;
}

.container-content {
    position: relative;
    z-index: 2;
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.photo-group {
    position: relative;
    display: inline-block;
	vertical-align: top;
    height: 100%;
    width: 100%;
}

.photo-group__photo {
    display: block;
}

.photo-group__photo--992 {
    display: none;
}

.photo-group__photo--540 {
    display: none;
}

.photo-group::before {
    content: attr(title); 
	box-sizing: border-box;
	width: 100%;
	padding: 14px;
	position: absolute;
	z-index: 2;
	left: 0;
	bottom: 15px;
	font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 105px;
    text-align: center;
    color: #FFFFFF;
    background-color: black;
}

.content {
    padding: 70px 380px 200px 70px;
    width: auto;
}

h1 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 56px;
    color: #121212;
    padding-bottom: 20px;
}

h3 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #121212;
    padding-bottom: 50px;
}

.content__social {
    display: flex;
    align-items: center;
    gap: 30px;
    padding-bottom: 50px;
}

.social__item:hover {
    opacity: 0.5;
    cursor: pointer;
}

h2 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 38px;
    color: #121212;
    padding-bottom: 20px;
}

.content__tech {
    display: flex;
    align-items: center;
    gap: 25px;
    padding-bottom: 64px;
    flex-wrap: wrap;
}

.tech__item {
    padding: 14px 55px;
    height: auto; 
    background: #414141;
    border-radius: 45px;
    width: auto; 
}

.tech__item:hover {
    opacity: 0.5;
    cursor: pointer;
}

.item__text {
    width: auto;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 38px;
    color: #FFFFFF;
    left: 10%;
} 

.content__about {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 38px;
    text-indent: 30px;
    color: #121212;
    padding-bottom: 15px;
    width: 1026px;
}

.content__inputs {
    display: flex;
    gap: 25px;
    padding-bottom: 25px;
    padding-top: 35px;
}

.input__item {
    width: 338px;
    height: 66px;
    border-radius: 11px;
}

.input__item::placeholder {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 38px;
    color: #121212;
    padding-left: 16px;
    padding-top: 14px;
    
}

.content__button {
    width: 702px;
    height: 66px;
    background: #121212;
    border-radius: 11px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 38px;
    color: #FFFFFF;
    text-align: center;
    border: none;

}

.content__button:hover {
    background: #414141;
    cursor: pointer;
}

